.update-main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.update-nft-body {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.update-nft-body .div-form {
    margin-top: 0px;
}

.div-form .grid-form-update{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.update-modal .ant-modal-content{
    background-color: var(--bg-main);
}

.update-modal .ant-modal-content .ant-modal-header{
    background-color: var(--bg-main);
}

.update-modal .ant-modal-content .ant-modal-header .ant-modal-title{
    color: var(--text-color);
}

.update-modal .ant-modal-content .ant-modal-close{
    color: var(--text-color);
}

.grid-form .box-form {
    grid-column: span 1 / span 1;
    margin-top: 0;
}

.box-form .form .content-form {
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid #bff0e8;
}

.content-form .content-form-top {
    padding: 20px;
}

.content-form-top .content-form-top-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
}

.content-form-top-grid .div-label-input {
    grid-column: span 3 / span 3;
}

.content-form-top-grid .div-label-input.grid2{
    grid-column: span 2 / span 2;
}

.content-form-top-grid .div-label-input.full {
    grid-column: span 6 / span 6;
}

.content-form-top-grid .div-label-input.full textarea {
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
    box-sizing: border-box;
    padding: 12px 8px;
    display: block;
    width: 100%;
    border: 1px solid #bff0e8;
    border-radius: 4px;
    background-color: var(--bg-contrast);
    color: var(--text-color);
}

.content-form-top-grid .div-label-input .ant-select.select{
    width: 100%;
}
.content-form-top-grid .div-label-input .ant-select.select .ant-select-selector{
    height: 44px;
    background-color: var(--bg-contrast);
    color: white;
    display: flex;
    align-items: center;
}

.div-label-input.full textarea:focus {
    outline: none;
}

.content-form-top-grid .div-img {
    min-height: 256px;
    width: 100%;
    grid-column: span 6 / span 6;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-img:hover .clear-button {
    display: flex;
}

.content-form-top-grid .button-not-empty {
    grid-column: span 6 / span 6;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 0;
    cursor: pointer;
    background-color: var(--bg-contrast);
    color: var(--text-color);
    transition: all ease-in-out 0.3s;
    box-sizing: border-box;
    border: 2px solid #bff0e8;
    font-weight: 600;
}

.button-not-empty:hover {
    color: white;
    background-color: var(--main-major);
    border: 2px solid var(--main-major);
}
.button-not-empty:active {
    transform: scale(1.02);
}
.content-form-top-grid .button-empty {
    grid-column: span 6 / span 6;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 0;
    cursor: pointer;
    background-color: var(--bg-contrast);
    color: #384a6e;
    transition: all ease-in-out 0.3s;
    box-sizing: border-box;
    border: 2px solid #bff0e8;
    font-weight: 600;
}

.div-label-input label {
    display: flex;
    letter-spacing: 0.025em;
    align-items: center;
    text-transform: uppercase;
    color: #384a6e;
    font-size: 12px;
    column-gap: 0.5rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.div-label-input label .icons {
    font-size: 14px;
    min-height: 14px;
}
.div-label-input input {
    border: 1px solid #bff0e8;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 12px 8px;
    display: block;
    width: 100%;
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--bg-contrast);
}

.div-label-input input:focus {
    outline: none;
}

.div-img .clear-button {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #384a6e;
    transition: all ease-in-out 0.3s;
    box-sizing: border-box;
    border: 2px solid #bff0e8;
    font-weight: 600;
}
.clear-button:hover {
    color: var(--main-major);
    background-color: #1e2326;
    border: 2px solid #bff0e8;
}

.div-loading {
    width: 100%;
    /* height: 256px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-loading .animate-spin {
    animation: spin 1s linear infinite;
    height: 40px;
    width: 40px;
    color: #2f4153;
}

.div-img .img-url {
    max-width: 100%;
    max-height: 256px;
    border-radius: 8px;
    object-fit: cover;
}

.div-img label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 256px;
    background-color: var(--bg-contrast);
    border-radius: 4px;
    border-style: dashed;
    cursor: pointer;
    border: 1px solid #bff0e8;
}

.div-img label .div-child-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 24px 0;
}

.div-img label .div-child-label .svg-img {
    margin-bottom: 12px;
    width: 40px;
    height: 40px;
    color: #384a6e;
}

.div-child-label .click-to-upload {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #384a6e;
}

.div-child-label .format-text {
    font-size: 12px;
    line-height: 18px;
    color: #384a6e;
}

@media screen and (max-width: 768px) {
    .update-nft-body {
        padding: 0;
    }
    .grid-form {
        display: block;
    }

    .grid-form .content-form-top-grid .div-label-input {
        grid-column: span 6 / span 6;
    }

    .infomation-form-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .infomation-form-content h3 {
        font-size: 20px;
        color: var(--main-major);
        line-height: 18px;
        font-weight: 500;
    }
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
