.header {
    border-bottom: 1px solid rgba(149, 150, 151, 0.1);
    padding: var(--spacing-sm);
    position: sticky;
    top: 0;
    background-color: var(--bg-main);
    z-index: 2;
}

.frame-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frame-input{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: 6px;
    background-color: var(--bg-contrast);
    border-radius: 8px;
    overflow: hidden;
}

.input-header{
    padding: 6px;
    border: none;
    color: white;
    background-color: var(--bg-contrast);
}

.input-header:focus{
    outline: none;
}

.icon-search-header{
    font-size: var(--fs-2lg);
    color: var(--text-color);
    margin-left: var(--spacing-xs);
}

.frame-info{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

.frame-info .class-avatar{
    width: 40px;
    height: 40px;
    position: relative;
}

.class-avatar:hover{
    cursor: pointer;
}

.class-avatar .span-frame{
    border-radius: 9999px;
}

.frame-info .class-icon-header{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(115, 115, 116, 0.247);
    justify-content: center;
}

.class-icon-header .cart-count{
    position: absolute;
    right: 2.8rem;
    top: calc(var(--spacing-xs) * -1);
    border-radius: 999999px;
    width: 24px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    font-size: 14px;
    justify-content: center;
    color: var(--text-color);
    height: 24px;
    background-color: var(--bg-contrast);
}

.class-icon-header:hover{
    cursor: pointer;
}

.class-icon-header .icon-header{
    font-size: var(--fs-2lg);
    color: var(--text-color);
}

.dropdown{
    padding: var(--spacing-xs) var(--spacing-sm);
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.down-icon{
    margin-right: 12px;
    color: var(--main-major);
}

.dropdown-frame{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    border-radius: 6px;
    border: 1px solid var(--text-blur);
    padding: var(--spacing-xs);
    overflow: hidden;
    background-color: var(--main-bg);
}

.dropdown-frame .dropdown-item{
    font-weight: 500;
    width: 200px;
    padding: var(--spacing-xs);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--spacing-xs);
    border-radius: 4px;
    transition: ease-in-out 0.2s;
}

.dropdown-item p{
    font-size: 15px;
}

.dropdown-item svg{
    margin-bottom: 0.05rem;
    font-size: 18px;
}

.dropdown-item:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.frame-info .class-avatar{
    width: 40px;
    height: 40px;
    position: relative;
}

.class-avatar:hover{
    cursor: pointer;
}

.class-avatar .span-frame {
    border-radius: 9999px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(115, 115, 116, 0.247);
  }
  
  .span-frame .img-avatar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    border: none;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  