.profile-main {
    height: 100%;
    padding: 1rem;
}

.title-page {
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.profile-container {
    margin-top: 1.25rem;
    min-height: 84vh;
    height: 100%;
}

.profile-container .container-flex-full {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    width: 100%;
}

.container-flex-full .grid-w-full {
    display: grid;
    gap: 1.25rem;
}

.grid-w-full .grid-col-span-4 {
    display: grid;
    width: 100%;
}

.grid-col-span-4 .frame-user {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px #5f5f5f73;
    height: 100%;
    flex-direction: column;
    border-radius: 20px;
    background-clip: initial;
    background-size: cover;
}

.grid-col-span-3 {
    display: grid;
    width: 100%;
}

.grid-col-span-3 .frame-span-3 {
    padding: 1rem;
    box-shadow: 0 0 10px #5f5f5f73;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}

.title.blur {
    color: #b4b6b6;
}

.frame-swap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    border-radius: 8px;
}

.frame-swap .frame-token {
    width: 100%;
    background-color: #f6f6f6;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    border-radius: 6px;
}

.swap-dsc {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0.4rem;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    justify-content: center;
}

.swap-dsc-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.icon-token {
    display: flex;
    min-width: 90px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    background-color: #f6f6f6;
}

.icon-token .ether-icon {
    padding: 0.5rem;
    color: black;
}

.ether-input {
    width: 60px;
    padding: 0.4rem;
    border-radius: 4px;
    border: none;
    background-color: #f3f1f1;
}

.price-swap {
    width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swap-button {
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    background-color: #55b9a9;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.ether-input:focus {
    outline: none;
}

.icon-swap-token {
    cursor: pointer;
    padding: 0.8rem;
    display: flex;
    z-index: 1;
    bottom: -1.5rem;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 0 0 10px #9e9e9e;
    background-color: white;
}

.icon-swap-token:focus {
    transform: scale(0.8);
}

.icon-swap-token svg {
    font-size: 22px;
}

.icon-token svg {
    font-size: 50px;
    color: #55b9a9;
}

.from-to-title {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.from-to-title.token {
    margin-right: 0.6rem;
}

.from-to-title.blur {
    color: #a5a5a5;
}

.frame-balance.swap {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-col-span-5 {
    display: grid;
    box-shadow: 0 0 10px #5f5f5f73;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

/* .grid-span-11 .upload-frame {
    position: relative;
    grid-column: span 5 / span 5;
} */

.upload-frame .img-url {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    object-fit: cover;
}

.upload-frame label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background-color: #f4f7fe;
    border-radius: 0.75rem;
    border-style: dashed;
    cursor: pointer;
    border: 1px solid #bff0e8;
}

.upload-frame label .div-child-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 24px 0;
}

.upload-dsc {
    grid-column: span 5 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.upload-dsc h3 {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.upload-dsc p {
    color: black;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.button-publish {
    width: 100%;
    cursor: pointer;
    padding: 0.6rem;
    background-color: var(--main-major);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.banner-user {
    margin-top: -3rem;
    /* background-image: url("../../../public/media/banner.jpg"); */
    background-size: cover;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8rem;
    position: relative;
}

.banner-user .user {
    position: absolute;
    background-color: white;
    border-color: aliceblue;
    border-width: 4px;
    border-radius: 9999px;
    width: 87px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -3rem;
}

.user img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    max-width: 100%;
}

.frame-user .frame-username {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    color: rgb(163 174 208);
}

.frame-username .text-base {
    max-width: 200px;
}

.frame-username-dsc {
    display: flex;
    margin-top: 1.5rem;
    gap: 3.5rem !important;
    margin-bottom: 0.75rem;
}

.dsc-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dsc-item h4 {
    display: block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-storage {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
    justify-content: center;
}

.flex-storage .cloud-check {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding: 26px;
    font-size: 3rem;
    line-height: 1;
    background-color: #f4f7fe;
    font-weight: 700;
    color: #55b9a9;
}

.flex-storage h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}
.flex-storage p {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}

.flex-bottom {
    display: flex;
    flex-direction: column;
}

.flex-bottom .flex-bottom-dsc {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.flex-bottom-dsc p {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
    color: #a6b1d2;
}

.grid-gb {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(50, minmax(0, 1fr));
}

.grid-gb-item {
    background-color: #55b9a9;
    height: 8px;
    border-radius: 12px;
}

.pagination-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid-span-11 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.form-user-info {
    margin: 0.5rem 0 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.form-user-info .div-label-input {
    grid-column: span 1 / span 1;
}

.form-user-info .div-label-input.full {
    grid-column: span 2 / span 2;
}
textarea {
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
    box-sizing: border-box;
    padding: 12px 8px;
    display: block;
    width: 100%;
    border: 1px solid #bff0e8;
    border-radius: 4px;
    background-color: white;
    color: black;
}

.upload-frame:hover .clear-button {
    display: flex;
}

.upload-frame .clear-button {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #384a6e;
    transition: all ease-in-out 0.3s;
    box-sizing: border-box;
    border: 2px solid #bff0e8;
    font-weight: 600;
}

.clear-button:hover {
    color: var(--main-major);
    background-color: #1e2326;
    border: 2px solid #bff0e8;
}

.div-label-input {
    width: 100%;
}

.div-label-input label {
    display: flex;
    letter-spacing: 0.025em;
    align-items: center;
    text-transform: uppercase;
    color: #384a6e;
    font-size: 12px;
    column-gap: 0.5rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.div-label-input label .icons {
    font-size: 14px;
    min-height: 14px;
}
.div-label-input input {
    border: 1px solid #bff0e8;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 12px 8px;
    display: block;
    width: 100%;
    border-radius: 4px;
    color: black;
    background-color: white;
}

@media (min-width: 1282px) {
    .container-flex-full .grid-w-full {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .grid-w-full .grid-col-span-4 {
        grid-column: span 4 / span 4;
    }
    .grid-w-full .grid-col-span-3 {
        grid-column: span 3 / span 3;
    }
    .grid-w-full .grid-col-span-5 {
        grid-column: span 5 / span 5;
    }
}

.click-to-upload span{
    font-size: 14px;
}

.div-child-label p{
    font-size: 14px;
}

@media (min-width: 1320px) {
    .grid-col-span-5 .grid-span-11 .grid-span-full {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        /* height: 100%; */
        gap: 1rem;
        width: 100%;
    }

    .grid-span-full .upload-frame.avatar {
        grid-column: span 3 / span 3;
    }
    .grid-span-full .upload-frame.banner {
        grid-column: span 9 / span 9;
    }
    .grid-span-full .upload-frame {
        display: grid;
        position: relative;
        max-height: 140px;
        min-height: 140px;
        place-items: center;
    }
}
