.login-main{
    width: 100%;
    height: 100%;
    /* padding: var(--spacing-md); */
    background-color: #fafcfe;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.login-main .text-blur{
    color: var(--text-blur);
}

.form{
    margin-top: var(--spacing-xs);
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.div-label-input{
    width: 100%;
}

.div-label-input label {
    display: flex;
    letter-spacing: 0.025em;
    align-items: center;
    text-transform: uppercase;
    color: #384a6e;
    font-size: 12px;
    column-gap: 0.5rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.div-label-input label .icons {
    font-size: 14px;
    min-height: 14px;
}
.div-label-input input {
    border: 1px solid #bff0e8;
    font-size: 12px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 12px 8px;
    display: block;
    width: 100%;
    border-radius: 4px;
    color: black;
    background-color: white;
}

.div-label-input input:focus {
    outline: none;
    background-color: #f5f5f5;
}

.login-button{
    cursor: pointer;
    width: 100%;
    padding: var(--spacing-xs);
    border-radius: 4px;
    border: none;
    background-color: var(--main-major);
    font-size: 15px;
    color: var(--text-color);
    font-weight: 550;
}

.other{
    background-color: white;
    border: 1px solid var(--text-blur);
}

.other .text-blur{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
}

.text-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-row h5{
    font-size: 15px;
    cursor: pointer;
    color: var(--main-major);
}