.overview-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-sm);
}

.overview-main h3{
    grid-column: span 13 / span 13;
}

.paginated-title{
    margin-top: var(--spacing-md);
    font-size: 18px;
    font-weight: 550;
    border-bottom: 2px solid black;
    max-width: 85px;
}